
h1 {background-color: yellow;}

.header2 {font-family: 'Festive', cursive; background-color: pink;}

#jooee {
    font-size: 40px;
    background-color: red;
    width: 200px;
    height: 300px;
    border: 2px dotted blue;
    margin: 20px 40px ;
}

.img {
    
height: 50px;
width: 50px;
border-radius: 20px;
}