
.board {
    display: grid;
    grid-template-columns: repeat(3, 50px);
}

.board > div {
    width: 50px;
    height: 50px;
    border: 3px solid black;}

.portfolio {
    display: grid;
    grid-template-rows: 150px 150px 150px;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;

    grid-template-areas: "img1 img2 img3 img4" "img5 img6 img7 img8" "img9 img10 img11 img12";
    }
.image1 {
    grid-area: img1;
    text-align: center;
    }

.image2 {
    grid-area: img2;
    text-align: center;
    }

.image3 {
    grid-area: img3;
    text-align: center;
    }

.image4 {
    grid-area: img4;

    text-align: center;
    }

    .image5 {
        grid-area: img5;
        text-align: center;
    }

    .image6 {
        grid-area: img6;
        text-align: center;
    }

    .image7 {
        grid-area: img7;
        text-align: center;
    }

    .image8 {
        grid-area: img8;
        text-align: center;
    }

    .image9 {
        grid-area: img9;
        text-align: center;
    }

    .image10 {
        grid-area: img10;
        text-align: center;
    }

    .image11 {
        grid-area: img11;
        text-align: center;
    }

    .image12 {
        grid-area: img12;
        text-align: center;
    }

    .fit {
        width: 10%;
        height: 10%;
    }