/* #preloader {
    background: #000 url(loader.gif) no-repeat center;
    background-size: 30%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
} */

:root {
    font-size: 14px;
    font-family: "open sans", sans-serif;
    
}



body{
    /* display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center; */
    background: #000 url(bgimg1pu.avif)  no-repeat center;
    background-size: 100%;
    min-height: 100vh;
    width: 100vw;
    position: absolute ;
    padding: 0;
    margin: 0;
    
}

body::-webkit-scrollbar {
    width: .5rem;
}

body::-webkit-scrollbar-track {
    background: #000;
}

body::-webkit-scrollbar-thumb {
    background: #F0EAD6;
}




.mainCont {
    display: flex;
    flex-direction: row;


    
    
    height: 100%;
    
}



.navB {
    width: 5rem;
    height: 100vh;
    position: fixed;
    background: rgb(48, 42, 42);
}

.navBar-nav {
    list-style-position: inside;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }

.nav-link {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 5rem;
    color: #F0EAD6;
    text-decoration: none;
    text-transform: uppercase;
    margin-top: 1rem;
  
}

/* .link-text {
    
    margin-top: 1rem;
}

.nav-link:hover {
    width: 16rem;

}

.nave-link:hover .link-text {
    display: block;

} */





  .topCardContainer {
    display: flex;
    flex-direction: row;
    
    align-items: center;
    width: 100%;
    flex-direction: column;
    margin-left: 6rem;
    
  }
.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.paragraph {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    margin-top: 20px;
    width: fit-content;
}

.header h2 {
    color: #F0EAD6;
    font-size: 50px;
    font-weight: 300;
    text-align: center;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 20px;

}

.header p {
    color: #F0EAD6;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 10px;
}

.searchField {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
    
}

.searchButton {
    
    margin: 5px;
    padding: 0;
    border: 1px solid #F0EAD6;
    border-radius: 5px;
    outline: none;
    background: rgb(34, 170 ,163);
    color: #000;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
}
.clearButton {
    margin: 5px;
    padding: 0;
    border: 1px solid #F0EAD6;
    border-radius: 5px;
    outline: none;
    background: orange;
    color: #000;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
}

.inputField {
    
    margin: 5px;
    padding: 0;
    border: 1px solid #F0EAD6;
    border-radius: 5px;
    outline: none;
    text-align: center; 
    
    

}

img {
    
    width: 500px;
   
    object-fit: cover;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

@media (width <= 600px) {
    
    .mainCont {
        display: flex;
        justify-content: space-between;
        
    }
    
    .header h2 {
        font-size: 30px;
    }

    .inputField {
        width: 30%;
        height: 30px;
        margin: 5px;
        padding: 0;
        margin-bottom: 20px;
        border: 1px solid #F0EAD6;
        border-radius: 5px;
        outline: none;
        text-align: center; 
        font-size: 20px;
        
    
    }


    .navB {
        position: fixed;
        bottom: 0;
        width: 100vw;
        height: 4rem;
        background: rgb(48, 42, 42);
    }
 
    .navBar-nav {
        display: flex;
        flex-direction: row;
        height: 4rem;
        width: 100vw;
        justify-content: space-evenly;
       
        

    }

  
.mainCont {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 100%;
        
      }
    
      .navB {
        position: fixed;
        bottom: 0;
        width: 100vw;
        height: 4rem;
        background: rgb(48, 42, 42);
        z-index: 9;
      }



    .topCardContainer {
        margin-left: 0;
        margin-top: 2rem;
        margin-bottom: 5rem;
        
        
        
      }
}

    @media (width <= 600px){
        .searchButton {
            width: 20%;
            height: 30px;
            margin: 5px;
            padding: 0;
            margin-bottom: 20px;
            border: 1px solid #F0EAD6;
            border-radius: 5px;
            outline: none;
            background: rgb(34, 170 ,163);
            color: #000;
            text-transform: uppercase;
            letter-spacing: 2px;
            cursor: pointer;
        }

        .clearButton {
            width: 20%;
            height: 30px;
            margin: 5px;
            padding: 0;
            margin-bottom: 20px;
            border: 1px solid #F0EAD6;
            border-radius: 5px;
            outline: none;
            background: orange;
            color: #000;
            text-transform: uppercase;
            letter-spacing: 2px;
            cursor: pointer;
        }
    }


.contentBox {
    /* position: relative; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    /* width: 1200px; */
    flex-wrap: wrap;
    
}


.exersiseCard {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 300px;
    padding: 20px;
    margin: 20px;
    background: #3f3f3f;
    height: 300px;
    border-radius: 15px;
    /* overflow: hidden; */
}

.exersiseCard.active {
    height: auto;
}

.exersiseCard h3 {
    color: orange;
    font-weight: 300;
}
.exersiseCard h4 {
    color: #F0EAD6;
    font-weight: 300;
    margin: 2px;
}

.exersiseCard p {
    color: #F0EAD6;
    font-weight: 300;
    overflow: hidden;
    margin-bottom: 10px;
}






.exersiseCard .more  {
    position: relative;
    padding: 10px 15px;
    background: rgb(11, 45, 109);
    margin-top: 15px;
    width: 75px;
    display: inline-block;
    text-align: center;
    text-transform: capitalize;
    color: #F0EAD6;    
    cursor: pointer;
}


.exersiseCard .more::before {
    content: "read more";
}
.exersiseCard.active .more::before {
    content: "read less";
}

.exersiseCard::before {
   content: '';
   position: absolute;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 285px;
   background: linear-gradient(transparent, #3f3f3f);
   
}

.exersiseCard.active::before {
    display: none;
}



